{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{{ title }} | django-cachex{% endblock %}

{% block breadcrumbs %}
<div class="container mb-6 mx-auto px-4">
    <nav class="flex text-sm text-base-500 dark:text-base-400">
        <a href="{% url 'admin:index' %}" class="hover:text-primary-600 dark:hover:text-primary-400">{% trans 'Home' %}</a>
        <span class="mx-2">/</span>
        <span class="text-font-important-light dark:text-font-important-dark">{% trans 'Cache Instances' %}</span>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container mx-auto px-4">
    {% block cache_content %}{% endblock %}
</div>
{% endblock %}
